body {
    background-color: dimgray;
}

.container {
    --resolution: 760px;
    height: var(--resolution);
    width: var(--resolution);
    background-color: #353535;
    margin: auto;
    color: white;
    padding: 20px;
}
h1 {
    padding-bottom: 20px;
    text-align: center;
}

#profile-pic {
    --resolution: 300px;
    margin-left: 230px;
    width: var(--resolution);
    height: var(--resolution);
}

article {
    font-size: large;
}

footer {
    text-align: center;
    margin-top: 190px;
}