.App {
    text-align: center;
}

.navStyle {
    color: white;
    font-size: 1cm;
    text-decoration: none;
}

.StudentPage {
    padding-top: 50px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background: rgb(48, 52, 54);
    color: white;
}

.subNav {
    min-height: 5vh;
    background: rgb(100, 107, 111);
    margin-bottom: 20px;
}

.nav-links {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.subNavStyle {
    font-size: 0.5cm;
}

.studentDiv {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-style: solid;
    width: 46%;
    text-align: left;
    padding: 2%;
}

.studentName, .studentTags, .studentSubjects {
    display: inline;
}

.filters{
    margin: auto;
    width: 25%;
    text-align: left;
    display: grid;
}